* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(88, 152, 219, 1) 95%
  );
  font-family: "Concert One", cursive;
  min-height: 100vh;
}
header {
  font-size: 1.7rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input,
form button {
  padding: 0.5rem;
  border: none;
  font-size: 1.8rem;
  background: white;
  outline: none;
}
form button {
  color: rgb(30, 107, 207);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: rgb(5, 63, 138);
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  list-style: none;
  min-width: 30%;
}
.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: rgb(13, 88, 185);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}
.complete-btn {
  background: rgb(34, 179, 41);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: rgb(39, 37, 189);
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: rgb(22, 50, 207);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none; /*события мыши срабатывают*/
  transition:  all 0.3s ease;
}
.select:hover::after {
  background: white;
  color: rgb(22, 50, 207);
}